@import "../../style/colors.scss";
@import "../../style/typo.scss";
@import "../../style/adaptiv.scss";

.Aside {
  width: 370px;
  background-color: #fff;
  @include desktop {
    width: 100%;
  }
}
