@import "../../../style/colors.scss";
@import "../../../style/typo.scss";
@import "../../../style/adaptiv.scss";

.SinglePost {
  @include adaptive;
  &__Container {
    width: 100%;
  }
  &__Title {
    transition: all 0.5s;
    @include title;
    margin-bottom: 20px;
  }
}
