@import "../../style/colors.scss";
@import "../../style/typo.scss";
@import "../../style/adaptiv.scss";

.RecentPosts{
 max-width: 100%;
 display: grid;
 grid-template-columns: repeat(8, 1fr);
 grid-template-rows: repeat(3, 200px);
 overflow: hidden;
 margin-bottom: 30px;

 @include desktop{
     display: none;
 }
}