$apricot: #f7b267;
$tangerine: #f79d65;
$coral: #f4845f;
$bittersweet:#f27059;
$fire:#f25c54;
$green: #7CC576;
$darkgreen:#55a54d;
$text: #222222;
$content:#0e0e0e;
$info:#464646;
$light-grey: #e9e9e9;